/.autoconf_trace
/ChangeLog
/INSTALL
/autom4te.cache/
/aclocal.m4
/autodefs.h
/autodefs.h.in
/autodefs.h.in~
/build-stamp
/compile
/config.cache
/config.guess
/config.log
/config.status
/config.sub
/configure
/configure.lineno
/configure-stamp
/cov-int/
/depcomp
/install-sh
/isync.spec
/isync-*.tar.gz
/isync-*.tar.gz.asc
/missing
/patch-stamp
/stamp-h
/stamp-h.in
/stamp-h1

Makefile
Makefile.in
